<a href="https://colab.research.google.com/github/solanods/pandas/blob/master/alteracoes_rmops2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Imports
import pandas as pd
pd.set_option('display.max_rows', 5000)
pd.set_option('display.max_columns', 5000)

from google.colab import drive
drive.mount('/content/drive')

from datetime import date
from re import search

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Carregamento dos dados
arquivo_antigo = '/content/PRMS_10_OUT_2022ontem.xlsm'
arquivo_recent = '/content/PRMS_10_OUT_2022.xlsm'

df_original = pd.read_excel(arquivo_antigo, sheet_name='RMOP')
df_alterado = pd.read_excel(arquivo_recent, sheet_name='RMOP')


colunas_alvo = list(range(327, 358))
df_escalas = pd.read_excel(arquivo_recent, sheet_name='DADOS', usecols=colunas_alvo)
df_escalas = df_escalas.loc[5:200]

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [ ]:
# Funcao limpeza de dados

def tratarDataframe(df):
  
  # Selecionar colunas de interesse
  df = df.iloc[:,[3,5,6,7,8,11,16,17,18,19]]

  # Renomear colunas
  df = df.rename({'Unnamed: 3': 'DIA',
                  'Unnamed: 5': 'PREVISTO',
                  'Unnamed: 6': 'ESCALA',
                  'Unnamed: 7': 'TOTVS',
                  'Unnamed: 8': 'JORNADA',
                  'Unnamed: 11': 'ENTRADA',
                  'Unnamed: 16': 'CODIGO',
                  'Unnamed: 17': 'DESCRICAO',
                  'Unnamed: 18': 'OBSERVACOES',
                  'Unnamed: 19': 'RE_SGT'}, axis = 1)

  # Remover nan
  df = df.fillna('-')

  # Obter lista com nome de todos operadores
  operadores = []
  for linha in df.index:
    if search ('[A-Z]+', str(df['DIA'][linha])):
      operadores.append(df['DIA'][linha])

  operadores = [operador for operador in operadores if operador.isupper()]

  # Extrair rmop
  i = 3
  j =38
  R = []
  df['NOME'] = ''
  df['RE'] = ''
  for operador in operadores:
    df['NOME'].loc[i:j] = operador
    rmop_operador = df.loc[i:j]
    R.append(rmop_operador)
    df['RE'].loc[i:j] = df['ENTRADA'].loc[i:j].iloc[0]
    i+=66
    j+=66

  return df

In [ ]:
df_original = tratarDataframe(df_original)
df_alterado = tratarDataframe(df_alterado)

In [ ]:
# Criar novo df somente com os índices modificados, ou seja, as diferenças entre ambos
rmops_alterado = pd.concat([df_original,df_alterado]).drop_duplicates(keep=False)

In [ ]:
# Resultado mostra os indices originais e alterados em sequencia
rmops_alterado

,DIA,PREVISTO,ESCALA,TOTVS,JORNADA,ENTRADA,CODIGO,DESCRICAO,OBSERVACOES,RE_SGT,NOME,RE
566,31,TRAB,R1,15-O,02T,14:00:00,-,-,-,-,ANA CAROLINA,2922
962,31,FOL,A4,11-K,FOL,,D,Disponível para HE,-,252,ARAUJO,3203
1092,29,FOL,JA,9-I,TMR,13:15:00,C129,Troca Jorn,por 15,2923,ARTUR,2934
1093,30,FOL,JA,9-I,TMR,13:15:00,C129,Troca Jorn,p/dia 25 nec oper,2934,ARTUR,2934
1156,27,FOL,FA,1-A,MNH,05:30:00,C129,Troca Jorn,por 2,2923,AZAMBUJA,587
1621,30,TRAB,C4,7-G,15M,05:10:00,-,-,-,-,CARBONERA,1486
2874,29,FOL,I4,13-M,FOL,,D,Disponível para HE,-,-,DIAS,3210
2875,30,FOL,I4,13-M,FOL,,D,Disponível para HE,-,-,DIAS,3210
2876,31,FOL,I4,13-M,FOL,,D,Disponível para HE,-,-,DIAS,3210
3203,28,FOL,J2,13-M,FOL,,D,Disponível para HE,-,-,EDNA,3094
3204,29,FOL,J2,13-M,FOL,,D,Disponível para HE,-,-,EDNA,3094
3205,30,FOL,J2,13-M,FOL,,-,-,-,-,EDNA,3094
3533,28,TRAB,E2,3-C,11N,22:50:00,-,-,-,-,FELIPE,2941
4061,28,TRAB,L3,9-I,08T,12:20:00,-,-,-,-,FULBER,1252
4591,30,TRAB,H1,15-O,19M,05:10:00,-,-,-,-,GUILHERME,3688
4721,28,TRAB,Q1,17-Q,11T,12:00:00,-,-,-,-,INES,2424
4789,30,TRAB,H2,15-O,20M,05:10:00,-,-,-,-,INES MIRANDA,741
4919,28,TRAB,L5,9-I,10T,12:00:00,-,-,-,-,JANI,1581
6437,28,TRAB,LA1,7-G,06N,21:00:00,-,-,-,-,LUIS,1809
7222,21,FOL,KA,5-E,NPT,21:30:00,C129,Troca Jorn,por 20,-,MAURICIO,2945
7223,22,FOL,KA,5-E,NMR,21:30:00,C129,Troca Jorn,por 29 nec oper,2923,MAURICIO,2945
7230,29,TRAB,KA,5-E,FOL,,C129,Troca Jorn,por 21,2923,MAURICIO,2945
7231,30,TRAB,KA,5-E,NMR,21:30:00,C083,Troca Missão,ajuste efetivo,2923,MAURICIO,2945
8749,30,TRAB,H3,15-O,16M,05:10:00,-,-,-,-,RONALDO,1815
8813,28,TRAB,P3,1-A,05T,13:15:00,-,-,-,-,ROQUE,2489
9276,29,TRAB,G4,17-Q,09M,05:10:00,-,-,-,-,SENAIR,1391
9409,30,FOL,LA,7-G,FOL,,-,-,-,-,SHAYENE,2906
9476,31,TRAB,N2,5-E,06T,12:00:00,-,-,-,-,SILVA,1575
9539,28,TRAB,F2,1-A,17M,05:10:00,-,-,-,-,SILVANA,1821
9540,29,TRAB,F2,1-A,18M,05:10:00,-,-,-,-,SILVANA,1821
9934,27,TRAB,I1,13-M,05N,21:50:00,-,-,-,-,TELES,790
10463,28,TRAB,P4,1-A,28T,12:00:00,C083,Troca Missão,com Fagundes + Ajuste de efetivo,2923,VALLERIUS,1388
10529,28,TRAB,Y01,_,23T,13:10:00,-,-,-,-,VANDERLEI,1539
10859,28,TRAB,X14,_,21M,05:10:00,-,-,-,-,VIVIANE,2912
11056,27,TRAB,I2,13-M,01N,21:15:00,-,-,-,-,ZULEIKA,1483
566,31,TRAB,R1,15-O,06T,12:00:00,C083,Troca Missão,com Silva,2923,ANA CAROLINA,2922
962,31,FOL,A4,11-K,19M,06:55:00,HEFM,HE folga MANHÃ,Nec Oper,2445,ARAUJO,3203
1092,29,FOL,JA,9-I,FAT,COLOCAR,C208,Atestado,Antes C129 por 15,2923,ARTUR,2934
1093,30,FOL,JA,9-I,FAT,COLOCAR,C208,Atestado,Antes C129 p/dia 25 nec oper,2934/2923,ARTUR,2934
1156,27,FOL,FA,1-A,MT1,05:30:00,C129,Troca Jorn,por 2 + Entrega periódicos,2923,AZAMBUJA,587
1621,30,TRAB,C4,7-G,11M,06:40:00,C083,Troca Missão,Ajuste de efetivo,2445,CARBONERA,1486
2874,29,FOL,I4,13-M,FOL,,ND,Não disponível,-,252,DIAS,3210
2875,30,FOL,I4,13-M,FOL,,ND,Não disponível,-,252,DIAS,3210
2876,31,FOL,I4,13-M,FOL,,D,Disponível para HE,-,252,DIAS,3210
3203,28,FOL,J2,13-M,FOL,,nd,Não disponível,-,-,EDNA,3094
3204,29,FOL,J2,13-M,FOL,,nd,Não disponível,-,-,EDNA,3094
3205,30,FOL,J2,13-M,FOL,,nd,Não disponível,-,-,EDNA,3094
3533,28,TRAB,E2,3-C,06N,21:00:00,C083,Troca Missão,com Luis,2923,FELIPE,2941
4061,28,TRAB,L3,9-I,05T,13:15:00,C083,Troca Missão,com Roque,2923,FULBER,1252
4591,30,TRAB,H1,15-O,07M,05:20:00,C083,Troca Missão,Ajuste de efetivo,2445,GUILHERME,3688
4721,28,TRAB,Q1,17-Q,23T,13:10:00,C083,Troca Missão,com Vanderlei,2923,INES,2424
4789,30,TRAB,H2,15-O,05M,05:10:00,C083,Troca Missão,Ajuste de efetivo,2445,INES MIRANDA,741
4919,28,TRAB,L5,9-I,28T,12:00:00,C083,Troca Missão,com Vallerius,2923,JANI,1581
6437,28,TRAB,LA1,7-G,11N,22:50:00,C083,Troca Missão,com Felipe,2923,LUIS,1809
7222,21,FOL,KA,5-E,NPT,21:30:00,HEFN,HE folga NOITE,Sem registro intervalo Nec Oper,2923,MAURICIO,2945
7223,22,FOL,KA,5-E,NMR,21:30:00,C129,Troca Jorn,por 20 nec oper,2923,MAURICIO,2945
7230,29,TRAB,KA,5-E,TMR,13:15:00,C500,Permuta,Nec Oper,2923,MAURICIO,2945
7231,30,TRAB,KA,5-E,TMR,13:15:00,C500,Permuta,Nec Oper,2923,MAURICIO,2945
8749,30,TRAB,H3,15-O,10M,06:20:00,C083,Troca Missão,Ajuste de efetivo,2445,RONALDO,1815
8813,28,TRAB,P3,1-A,08T,12:20:00,C083,Troca Missão,com Fulber,2923,ROQUE,2489
9276,29,TRAB,G4,17-Q,18M,05:10:00,C083,Troca Missão,troca com Silvana,2387,SENAIR,1391
9409,30,FOL,LA,7-G,NMR,21:30:00,HEFN,HE folga NOITE,Nec Oper,2923,SHAYENE,2906
9476,31,TRAB,N2,5-E,02T,14:00:00,C083,Troca Missão,com Ana Carolina,2923,SILVA,1575
9539,28,TRAB,F2,1-A,21M,05:10:00,C083,Troca Missão,com Viviane,2923,SILVANA,1821
9540,29,TRAB,F2,1-A,09M,05:10:00,C083,Troca Missão,troca com Senair,2387,SILVANA,1821
9934,27,TRAB,I1,13-M,01N,21:15:00,C083,Troca Missão,com Zuleika,2923,TELES,790
10463,28,TRAB,P4,1-A,10T,12:00:00,C083,Troca Missão,com Fagundes + Ajuste de efetivo + Jani,2923,VALLERIUS,1388
10529,28,TRAB,Y01,_,11T,12:00:00,C083,Troca Missão,com Ines,2923,VANDERLEI,1539
10859,28,TRAB,X14,_,17M,05:10:00,C083,Troca Missão,com Silvana,2923,VIVIANE,2912
11056,27,TRAB,I2,13-M,05N,21:50:00,C083,Troca Missão,com Teles,2923,ZULEIKA,1483

In [ ]:
# Criar campo data
data_atual = date.today()
rmops_alterado['DATA_COLETA_DADO'] = data_atual

In [ ]:
# Salvar no google drive
rmops_alterado.to_excel(f'/content/drive/MyDrive/alteracoesrmop{data_atual}.xlsx')

In [ ]:
# Numero de alteracoes
num_alteracoes = len(rmops_alterado.index)/2

In [ ]:
# String para arquivar
dados = str(data_atual) + '   N°_ALTERACOES: ' + str(int(num_alteracoes))

In [ ]:
dados

'2022-10-28   N°_ALTERACOES: 35'

In [ ]:
# Salvar em arquivo texto
file = open('/content/drive/MyDrive/alteracoes_rmop_contador.txt', 'a')
file.write(dados + '\n')
file.close()

In [ ]:
# Verificar entre jornadas
  
for i in df_alterado.index:
    if search ('\d{2}T', str(df_alterado['JORNADA'][i])):
      if search ('\d{2}M', str(df_alterado['JORNADA'][i+1])):
        
        print('VERIFICAR INTERVALO DE 11 HORAS ENTRE JORNADAS\n')
        
        print('Dia', 
              df_alterado['DIA'][i], 
              df_alterado['NOME'][i], 
              df_alterado['JORNADA'][i],
              df_alterado['ENTRADA'][i])
        
        print('Dia', 
              df_alterado['DIA'][i+1], 
              df_alterado['NOME'][i+1], 
              df_alterado['JORNADA'][i+1],
              df_alterado['ENTRADA'][i+1])

VERIFICAR INTERVALO DE 11 HORAS ENTRE JORNADAS

Dia 24 ANA CAROLINA 01T 12:00:00
Dia 25 ANA CAROLINA 05M 05:30:00

In [ ]:
# Busca escalas dos semanais

print('ESCALAS DOS SEMANAIS SAINDO OU RETORNANDO DE FÉRIAS \n')
for i in range(len(df_escalas.index)):
  if len(df_escalas.iloc[i].unique()) > 2:
    if search('[X|Y]\d{2}', str(df_escalas.iloc[i])):
      print(df_escalas.iloc[i].unique())

ESCALAS DOS SEMANAIS SAINDO OU RETORNANDO DE FÉRIAS

['ANDRADE' 'X11' 'C3']
['ARRUE' 'N5' 'FER' 'FOL' 'ASS' 'Y12']
['CESAR' 'FER' 'ASS' 'FOL' 'Y08' 'L4']
['CLAUDETE' 'FER' 'PCA' 'FOL' 'X15']
['CORREA' 'X06' 'A7' 'E5']
['DIAS' 'X08' 'G6' 'B6' 'D7' 'I4']
['FREITAS' 'FER' 'Y09']
['FURLAN' 'I5' 'FER' 'PCA' 'FOL' 'X17']
['INES MIRANDA' 'FER' 'ASS' 'X12' 'H2']
['ISABEL' 'X03' 'FER']
['LAURI' 'Y04' 'N5' 'FOL']
['LEOCY' 'X10' 'G2']
['LETICIA JAQUES' 'X07' 'E7' 'I5']
['PRANDINI' 'X09' 'FER' 'PCA' 'X16']
['ROGER' 'X05' 'E6' 'FOL']
['SAUL' 'FER' 'ASS' 'Y11']
['SIMONE' 'FER' 'Y10']
['SOARES' 'FER' 'ASS' 'FOL' 'X13' 'E3']
['TAVARES' 'X04' 'A6' 'A2' 'FOL']
['TUBINO' 'Y07' 'P1']
['VERGARA' 'X02' 'FOL']
['VIEIRA' 'Y06' 'L6' 'Q3']
['VINICIUS' 'Y05' 'R7' 'M7' 'M1']
['VIVIANE' 'FER' 'FOL' 'PCA' 'X14']