<a href="https://colab.research.google.com/github/solanods/pandas/blob/master/historico_ferias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TRATAMENTO DA BASE DE DADOS DE FÉRIAS DO SETRA

In [140]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

import numpy as np

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [141]:
# Carregamento dos dados brutos
df = pd.read_excel('/content/historico_ferias.xlsx')

In [142]:
df

,RE,NOME,INICIO PERIODO AQUISITIVO,FIM PERIODO AQUISITIVO,INICIO DAS FERIAS,FIM DAS FERIAS,DIAS DE FÉRIAS,DIAS DE ABONO,No. PARCELAS,OBSERVAÇÃO,STATUS,USUARIO CRIADOR,Total Geral
0,226.0,EDSON LUIZ FERRAZ TORRES,1999-07-05,2000-07-04 00:00:00,2001-01-11,2001-01-30,20.0,0.0,0.0,2006-04-04 14:00:00,FERIAS MARCADAS,NaN,NaN
1,NaN,NaN,2000-07-05,2001-07-04 00:00:00,2001-08-14,2001-08-28,15.0,0.0,0.0,2006-04-04 14:00:00,FERIAS MARCADAS,NaN,NaN
2,NaN,NaN,NaT,NaN,2002-04-13,2002-04-27,15.0,0.0,0.0,2006-04-04 14:00:00,FERIAS MARCADAS,NaN,NaN
3,NaN,NaN,NaT,04/07/2001 00:00:00 Total,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2001-07-05,2002-07-04 00:00:00,2002-10-20,2002-11-02,14.0,0.0,0.0,2006-04-04 14:00:00,FERIAS MARCADAS,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4133,NaN,NaN,NaT,07/09/2020 00:00:00 Total,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4134,NaN,NaN,2020-09-08,2021-09-07 00:00:00,2021-09-11,2021-09-24,14.0,10.0,1.0,SIM,FERIAS MARCADAS,marcia.souza,NaN
4135,NaN,NaN,NaT,NaN,2022-02-07,2022-02-12,6.0,0.0,1.0,ASSIDUIDADE NÃO,FERIAS MARCADAS,1-002386,NaN
4136,NaN,NaN,NaT,07/09/2021 00:00:00 Total,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4137,NaN,DIEGO DE OLIVEIRA OTTO Total,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
# Seleciona colunas de interesse
df = pd.read_excel('/content/historico_ferias.xlsx', usecols=[0,1,2,3,4,5,6,7,8,9,11])

In [144]:
# Preencher os valores ausentes de USUARIO CRIADOR com NÃO INFORMADO
df['USUARIO CRIADOR'] = df['USUARIO CRIADOR'].fillna('NÃO INFORMADO')

# Preencher os valores ausentes de OBSERVAÇÃO com -
df['OBSERVAÇÃO'] = df['OBSERVAÇÃO'].fillna('-')

# Preencher os valores ausentes
df = df.fillna(method='ffill')

In [145]:
df

,RE,NOME,INICIO PERIODO AQUISITIVO,FIM PERIODO AQUISITIVO,INICIO DAS FERIAS,FIM DAS FERIAS,DIAS DE FÉRIAS,DIAS DE ABONO,No. PARCELAS,OBSERVAÇÃO,USUARIO CRIADOR
0,226.0,EDSON LUIZ FERRAZ TORRES,1999-07-05,2000-07-04 00:00:00,2001-01-11,2001-01-30,20.0,0.0,0.0,2006-04-04 14:00:00,NÃO INFORMADO
1,226.0,EDSON LUIZ FERRAZ TORRES,2000-07-05,2001-07-04 00:00:00,2001-08-14,2001-08-28,15.0,0.0,0.0,2006-04-04 14:00:00,NÃO INFORMADO
2,226.0,EDSON LUIZ FERRAZ TORRES,2000-07-05,2001-07-04 00:00:00,2002-04-13,2002-04-27,15.0,0.0,0.0,2006-04-04 14:00:00,NÃO INFORMADO
3,226.0,EDSON LUIZ FERRAZ TORRES,2000-07-05,04/07/2001 00:00:00 Total,2002-04-13,2002-04-27,15.0,0.0,0.0,-,NÃO INFORMADO
4,226.0,EDSON LUIZ FERRAZ TORRES,2001-07-05,2002-07-04 00:00:00,2002-10-20,2002-11-02,14.0,0.0,0.0,2006-04-04 14:00:00,NÃO INFORMADO
...,...,...,...,...,...,...,...,...,...,...,...
4133,3786.0,DIEGO DE OLIVEIRA OTTO,2019-09-08,07/09/2020 00:00:00 Total,2021-05-04,2021-05-17,14.0,10.0,1.0,-,NÃO INFORMADO
4134,3786.0,DIEGO DE OLIVEIRA OTTO,2020-09-08,2021-09-07 00:00:00,2021-09-11,2021-09-24,14.0,10.0,1.0,SIM,marcia.souza
4135,3786.0,DIEGO DE OLIVEIRA OTTO,2020-09-08,2021-09-07 00:00:00,2022-02-07,2022-02-12,6.0,0.0,1.0,ASSIDUIDADE NÃO,1-002386
4136,3786.0,DIEGO DE OLIVEIRA OTTO,2020-09-08,07/09/2021 00:00:00 Total,2022-02-07,2022-02-12,6.0,0.0,1.0,-,NÃO INFORMADO
4137,3786.0,DIEGO DE OLIVEIRA OTTO Total,2020-09-08,07/09/2021 00:00:00 Total,2022-02-07,2022-02-12,6.0,0.0,1.0,-,NÃO INFORMADO

In [146]:
# Criar mascara para eliminar as entradas que contenham a palavra Total nos campos NOME

substring = 'Total'
mascara_nome = df['NOME'].str.contains(substring)==False
df = df[mascara_nome]

In [147]:
df

,RE,NOME,INICIO PERIODO AQUISITIVO,FIM PERIODO AQUISITIVO,INICIO DAS FERIAS,FIM DAS FERIAS,DIAS DE FÉRIAS,DIAS DE ABONO,No. PARCELAS,OBSERVAÇÃO,USUARIO CRIADOR
0,226.0,EDSON LUIZ FERRAZ TORRES,1999-07-05,2000-07-04 00:00:00,2001-01-11,2001-01-30,20.0,0.0,0.0,2006-04-04 14:00:00,NÃO INFORMADO
1,226.0,EDSON LUIZ FERRAZ TORRES,2000-07-05,2001-07-04 00:00:00,2001-08-14,2001-08-28,15.0,0.0,0.0,2006-04-04 14:00:00,NÃO INFORMADO
2,226.0,EDSON LUIZ FERRAZ TORRES,2000-07-05,2001-07-04 00:00:00,2002-04-13,2002-04-27,15.0,0.0,0.0,2006-04-04 14:00:00,NÃO INFORMADO
3,226.0,EDSON LUIZ FERRAZ TORRES,2000-07-05,04/07/2001 00:00:00 Total,2002-04-13,2002-04-27,15.0,0.0,0.0,-,NÃO INFORMADO
4,226.0,EDSON LUIZ FERRAZ TORRES,2001-07-05,2002-07-04 00:00:00,2002-10-20,2002-11-02,14.0,0.0,0.0,2006-04-04 14:00:00,NÃO INFORMADO
...,...,...,...,...,...,...,...,...,...,...,...
4132,3786.0,DIEGO DE OLIVEIRA OTTO,2019-09-08,2020-09-07 00:00:00,2021-05-04,2021-05-17,14.0,10.0,1.0,SIM,marcia.souza
4133,3786.0,DIEGO DE OLIVEIRA OTTO,2019-09-08,07/09/2020 00:00:00 Total,2021-05-04,2021-05-17,14.0,10.0,1.0,-,NÃO INFORMADO
4134,3786.0,DIEGO DE OLIVEIRA OTTO,2020-09-08,2021-09-07 00:00:00,2021-09-11,2021-09-24,14.0,10.0,1.0,SIM,marcia.souza
4135,3786.0,DIEGO DE OLIVEIRA OTTO,2020-09-08,2021-09-07 00:00:00,2022-02-07,2022-02-12,6.0,0.0,1.0,ASSIDUIDADE NÃO,1-002386
4136,3786.0,DIEGO DE OLIVEIRA OTTO,2020-09-08,07/09/2021 00:00:00 Total,2022-02-07,2022-02-12,6.0,0.0,1.0,-,NÃO INFORMADO

Para eliminar as linhas que contenham a palavra Total em FIM PERIODO AQUISITIVO será necessário converter o campo para string e depois converter novamente para data

In [148]:
df['FIM PERIODO AQUISITIVO'] = df['FIM PERIODO AQUISITIVO'].astype(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [149]:
# Criar mascara para eliminar as entradas que contenham a palavra Total no campo FIM PERIODO AQUISITIVO

substring = 'Total'
mascara_fim = df['FIM PERIODO AQUISITIVO'].str.contains(substring)==False
df = df[mascara_fim]

In [150]:
# Converter FIM PERIODO AQUISITIVO para datetime
df['FIM PERIODO AQUISITIVO'] = df['FIM PERIODO AQUISITIVO'].astype(np.datetime64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [151]:
# Remover as linha duplicadas
df = df.drop_duplicates()

In [152]:
df

,RE,NOME,INICIO PERIODO AQUISITIVO,FIM PERIODO AQUISITIVO,INICIO DAS FERIAS,FIM DAS FERIAS,DIAS DE FÉRIAS,DIAS DE ABONO,No. PARCELAS,OBSERVAÇÃO,USUARIO CRIADOR
0,226.0,EDSON LUIZ FERRAZ TORRES,1999-07-05,2000-07-04,2001-01-11,2001-01-30,20.0,0.0,0.0,2006-04-04 14:00:00,NÃO INFORMADO
1,226.0,EDSON LUIZ FERRAZ TORRES,2000-07-05,2001-07-04,2001-08-14,2001-08-28,15.0,0.0,0.0,2006-04-04 14:00:00,NÃO INFORMADO
2,226.0,EDSON LUIZ FERRAZ TORRES,2000-07-05,2001-07-04,2002-04-13,2002-04-27,15.0,0.0,0.0,2006-04-04 14:00:00,NÃO INFORMADO
4,226.0,EDSON LUIZ FERRAZ TORRES,2001-07-05,2002-07-04,2002-10-20,2002-11-02,14.0,0.0,0.0,2006-04-04 14:00:00,NÃO INFORMADO
5,226.0,EDSON LUIZ FERRAZ TORRES,2001-07-05,2002-07-04,2003-03-31,2003-04-14,15.0,0.0,0.0,2006-04-04 14:00:00,NÃO INFORMADO
...,...,...,...,...,...,...,...,...,...,...,...
4129,3786.0,DIEGO DE OLIVEIRA OTTO,2018-09-08,2019-09-07,2020-05-19,2020-06-01,14.0,10.0,1.0,NÃO,gisele.hanauer
4131,3786.0,DIEGO DE OLIVEIRA OTTO,2019-09-08,2020-09-07,2020-12-25,2020-12-30,6.0,0.0,1.0,NÃO GOZO PROXIMO PERIODO,marcia.souza
4132,3786.0,DIEGO DE OLIVEIRA OTTO,2019-09-08,2020-09-07,2021-05-04,2021-05-17,14.0,10.0,1.0,SIM,marcia.souza
4134,3786.0,DIEGO DE OLIVEIRA OTTO,2020-09-08,2021-09-07,2021-09-11,2021-09-24,14.0,10.0,1.0,SIM,marcia.souza
4135,3786.0,DIEGO DE OLIVEIRA OTTO,2020-09-08,2021-09-07,2022-02-07,2022-02-12,6.0,0.0,1.0,ASSIDUIDADE NÃO,1-002386

In [153]:
# Converter colunas para inteiro
df['RE'] = df['RE'].astype(int)
df['DIAS DE FÉRIAS'] = df['DIAS DE FÉRIAS'].astype(int)
df['DIAS DE ABONO'] = df['DIAS DE ABONO'].astype(int)
df['No. PARCELAS'] = df['No. PARCELAS'].astype(int)

In [154]:
df

,RE,NOME,INICIO PERIODO AQUISITIVO,FIM PERIODO AQUISITIVO,INICIO DAS FERIAS,FIM DAS FERIAS,DIAS DE FÉRIAS,DIAS DE ABONO,No. PARCELAS,OBSERVAÇÃO,USUARIO CRIADOR
0,226,EDSON LUIZ FERRAZ TORRES,1999-07-05,2000-07-04,2001-01-11,2001-01-30,20,0,0,2006-04-04 14:00:00,NÃO INFORMADO
1,226,EDSON LUIZ FERRAZ TORRES,2000-07-05,2001-07-04,2001-08-14,2001-08-28,15,0,0,2006-04-04 14:00:00,NÃO INFORMADO
2,226,EDSON LUIZ FERRAZ TORRES,2000-07-05,2001-07-04,2002-04-13,2002-04-27,15,0,0,2006-04-04 14:00:00,NÃO INFORMADO
4,226,EDSON LUIZ FERRAZ TORRES,2001-07-05,2002-07-04,2002-10-20,2002-11-02,14,0,0,2006-04-04 14:00:00,NÃO INFORMADO
5,226,EDSON LUIZ FERRAZ TORRES,2001-07-05,2002-07-04,2003-03-31,2003-04-14,15,0,0,2006-04-04 14:00:00,NÃO INFORMADO
...,...,...,...,...,...,...,...,...,...,...,...
4129,3786,DIEGO DE OLIVEIRA OTTO,2018-09-08,2019-09-07,2020-05-19,2020-06-01,14,10,1,NÃO,gisele.hanauer
4131,3786,DIEGO DE OLIVEIRA OTTO,2019-09-08,2020-09-07,2020-12-25,2020-12-30,6,0,1,NÃO GOZO PROXIMO PERIODO,marcia.souza
4132,3786,DIEGO DE OLIVEIRA OTTO,2019-09-08,2020-09-07,2021-05-04,2021-05-17,14,10,1,SIM,marcia.souza
4134,3786,DIEGO DE OLIVEIRA OTTO,2020-09-08,2021-09-07,2021-09-11,2021-09-24,14,10,1,SIM,marcia.souza
4135,3786,DIEGO DE OLIVEIRA OTTO,2020-09-08,2021-09-07,2022-02-07,2022-02-12,6,0,1,ASSIDUIDADE NÃO,1-002386

In [155]:
# Cria campo N_MES extraindo o mes
df['No. MES'] = df['INICIO DAS FERIAS'].dt.month

In [156]:
df

,RE,NOME,INICIO PERIODO AQUISITIVO,FIM PERIODO AQUISITIVO,INICIO DAS FERIAS,FIM DAS FERIAS,DIAS DE FÉRIAS,DIAS DE ABONO,No. PARCELAS,OBSERVAÇÃO,USUARIO CRIADOR,No. MES
0,226,EDSON LUIZ FERRAZ TORRES,1999-07-05,2000-07-04,2001-01-11,2001-01-30,20,0,0,2006-04-04 14:00:00,NÃO INFORMADO,1
1,226,EDSON LUIZ FERRAZ TORRES,2000-07-05,2001-07-04,2001-08-14,2001-08-28,15,0,0,2006-04-04 14:00:00,NÃO INFORMADO,8
2,226,EDSON LUIZ FERRAZ TORRES,2000-07-05,2001-07-04,2002-04-13,2002-04-27,15,0,0,2006-04-04 14:00:00,NÃO INFORMADO,4
4,226,EDSON LUIZ FERRAZ TORRES,2001-07-05,2002-07-04,2002-10-20,2002-11-02,14,0,0,2006-04-04 14:00:00,NÃO INFORMADO,10
5,226,EDSON LUIZ FERRAZ TORRES,2001-07-05,2002-07-04,2003-03-31,2003-04-14,15,0,0,2006-04-04 14:00:00,NÃO INFORMADO,3
...,...,...,...,...,...,...,...,...,...,...,...,...
4129,3786,DIEGO DE OLIVEIRA OTTO,2018-09-08,2019-09-07,2020-05-19,2020-06-01,14,10,1,NÃO,gisele.hanauer,5
4131,3786,DIEGO DE OLIVEIRA OTTO,2019-09-08,2020-09-07,2020-12-25,2020-12-30,6,0,1,NÃO GOZO PROXIMO PERIODO,marcia.souza,12
4132,3786,DIEGO DE OLIVEIRA OTTO,2019-09-08,2020-09-07,2021-05-04,2021-05-17,14,10,1,SIM,marcia.souza,5
4134,3786,DIEGO DE OLIVEIRA OTTO,2020-09-08,2021-09-07,2021-09-11,2021-09-24,14,10,1,SIM,marcia.souza,9
4135,3786,DIEGO DE OLIVEIRA OTTO,2020-09-08,2021-09-07,2022-02-07,2022-02-12,6,0,1,ASSIDUIDADE NÃO,1-002386,2

In [157]:
# Criar um classificador para os meses
condicao = [df['No. MES'] == 1,
            df['No. MES'] == 2,
            df['No. MES'] == 3,
            df['No. MES'] == 4,
            df['No. MES'] == 5,
            df['No. MES'] == 6,
            df['No. MES'] == 7,
            df['No. MES'] == 8,
            df['No. MES'] == 9,
            df['No. MES'] == 10,
            df['No. MES'] == 11,
            df['No. MES'] == 12]
          
           

classe_mes = ['JANEIRO', 'FEVEREIRO', 'MARÇO', 'ABRIL', 'MAIO', 'JUNHO', 'JULHO', 'AGOSTO', 'SETEMBRO', 'OUTUBRO', 'NOVEMBRO', 'DEZEMBRO']

df['MES'] = np.select(condicao, classe_mes, 'NAO NOBRE')

In [158]:
df

,RE,NOME,INICIO PERIODO AQUISITIVO,FIM PERIODO AQUISITIVO,INICIO DAS FERIAS,FIM DAS FERIAS,DIAS DE FÉRIAS,DIAS DE ABONO,No. PARCELAS,OBSERVAÇÃO,USUARIO CRIADOR,No. MES,MES
0,226,EDSON LUIZ FERRAZ TORRES,1999-07-05,2000-07-04,2001-01-11,2001-01-30,20,0,0,2006-04-04 14:00:00,NÃO INFORMADO,1,JANEIRO
1,226,EDSON LUIZ FERRAZ TORRES,2000-07-05,2001-07-04,2001-08-14,2001-08-28,15,0,0,2006-04-04 14:00:00,NÃO INFORMADO,8,AGOSTO
2,226,EDSON LUIZ FERRAZ TORRES,2000-07-05,2001-07-04,2002-04-13,2002-04-27,15,0,0,2006-04-04 14:00:00,NÃO INFORMADO,4,ABRIL
4,226,EDSON LUIZ FERRAZ TORRES,2001-07-05,2002-07-04,2002-10-20,2002-11-02,14,0,0,2006-04-04 14:00:00,NÃO INFORMADO,10,OUTUBRO
5,226,EDSON LUIZ FERRAZ TORRES,2001-07-05,2002-07-04,2003-03-31,2003-04-14,15,0,0,2006-04-04 14:00:00,NÃO INFORMADO,3,MARÇO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4129,3786,DIEGO DE OLIVEIRA OTTO,2018-09-08,2019-09-07,2020-05-19,2020-06-01,14,10,1,NÃO,gisele.hanauer,5,MAIO
4131,3786,DIEGO DE OLIVEIRA OTTO,2019-09-08,2020-09-07,2020-12-25,2020-12-30,6,0,1,NÃO GOZO PROXIMO PERIODO,marcia.souza,12,DEZEMBRO
4132,3786,DIEGO DE OLIVEIRA OTTO,2019-09-08,2020-09-07,2021-05-04,2021-05-17,14,10,1,SIM,marcia.souza,5,MAIO
4134,3786,DIEGO DE OLIVEIRA OTTO,2020-09-08,2021-09-07,2021-09-11,2021-09-24,14,10,1,SIM,marcia.souza,9,SETEMBRO
4135,3786,DIEGO DE OLIVEIRA OTTO,2020-09-08,2021-09-07,2022-02-07,2022-02-12,6,0,1,ASSIDUIDADE NÃO,1-002386,2,FEVEREIRO

In [159]:
# Checagem final
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3522 entries, 0 to 4135
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   RE                         3522 non-null   int64
 1   NOME                       3522 non-null   object
 2   INICIO PERIODO AQUISITIVO  3522 non-null   datetime64[ns]
 3   FIM PERIODO AQUISITIVO     3522 non-null   datetime64[ns]
 4   INICIO DAS FERIAS          3522 non-null   datetime64[ns]
 5   FIM DAS FERIAS             3522 non-null   datetime64[ns]
 6   DIAS DE FÉRIAS             3522 non-null   int64
 7   DIAS DE ABONO              3522 non-null   int64
 8   No. PARCELAS               3522 non-null   int64
 9   OBSERVAÇÃO                 3522 non-null   object
 10  USUARIO CRIADOR            3522 non-null   object
 11  No. MES                    3522 non-null   int64
 12  MES                        3522 non-null   object
dtypes: datetime64[ns](4), int64(5), object(4)
memory usage: 385.2+ KB

In [160]:
# Há valores de datas misturados no campo OBSERVAÇÃO
df['OBSERVAÇÃO'].unique()

array(['2006-04-04 14:00:00', '2006-04-20 09:44:03.951',
       '2007-05-28 23:59:59', '2007-12-28 23:59:59',
       '2009-05-28 23:59:59', '2010-03-28 23:59:59',
       '2012-09-06 08:28:07.41', '2012-11-28 23:59:59',
       '2014-06-28 23:59:59', '-', 'NÃO', 'SIM', 'NÃO\n',
       'ASSIDUIDADE NÃO.', 'ASSIDUIDADE 01/01, 02/01, 03/01/2022',
       '2006-04-20 09:44:06.633', '2007-01-28 23:59:59',
       '2008-03-28 23:59:59', '2009-02-28 23:59:59',
       '2011-02-28 23:59:59', '2012-03-28 23:59:59',
       '2013-04-28 23:59:59', '2014-03-28 23:59:59',
       '2014-07-28 23:59:59', 'NÃO GOZO 1º PERIODO',
       'NÃO GOZO PROXIMO PERIODO',
       'Assiduidade: 22/02/2022, 27/02/2022 e 28/02/2022.',
       'Assiduidade: Não.', '2006-04-20 09:44:07.395',
       '2006-10-28 23:59:59', '2007-06-28 23:59:59',
       '2009-04-28 23:59:59', '2010-02-28 23:59:59',
       '2010-11-28 23:59:59', '2012-02-28 23:59:59',
       '2013-01-28 23:59:59', '2014-02-28 23:59:59',
       'NÃO - GOZO NO 2° PERIODO', 'NÃO -GOZO 2º PERÍODO',
       'Assiduidade no próximo período.',
       'Assiduidade: 16/02/2022, 17/02/2022 e 18/02/2022.',
       'ASSIDUIDADE NÃO', '2006-04-20 09:44:08.412',
       '2011-03-28 23:59:59', '2011-10-28 23:59:59',
       '2012-06-28 23:59:59', '2013-06-28 23:59:59',
       'NÃO GOZO NO 2º PERÍODO', 'NÃO - GOZO NO 2º PERÍODO',
       'NÃO GOZO 2º PERIODO', 'NÃO GOZO PRÓXIMO PERIODO',
       'Assiduidade: 05/05/2022, 06/05/2022 e 07/05/2022.',
       '2006-04-20 09:44:08.944', '2007-02-28 23:59:59',
       '2008-04-28 23:59:59', '2012-05-28 23:59:59',
       '2014-05-28 23:59:59', 'NÃO - GOZO NO 1º PERÍODO',
       'NÃO GOZO PERIODO ANTERIOR',
       'Assiduidade: 03/02/2022, 04/02/2022 e 07/02/2022.',
       'assiduidade não', '2006-04-20 09:44:09.478',
       '2009-01-28 23:59:59', '2009-11-28 23:59:59',
       '2011-01-28 23:59:59', '2012-01-28 23:59:59',
       '2013-02-28 23:59:59', 'NÃO- GOZO 2º PERIODO',
       'Assiduidade: 14/01/2022, 15/01/2022 e 16/01/2022.',
       '2006-04-20 09:44:15.328', '2006-11-28 23:59:59',
       '2007-11-28 23:59:59', '2008-10-28 23:59:59',
       '2009-09-28 23:59:59', '2010-08-28 23:59:59',
       '2013-03-28 23:59:59', '2014-01-28 23:59:59',
       'Assiduidade: 04/01/2022, 07/01/2022 e 08/01/2022.',
       'ASSIDUIDADE SIM 10/09, 11/09  e 12/09/2022',
       '2006-04-20 09:44:32.509', '2006-12-29 14:32:21.826',
       '2008-01-28 23:59:59', '2009-06-28 23:59:59',
       '2010-04-28 23:59:59',
       'ASSIDUIDADE: 02/09/2021, 03/09/2021 E 06/09/2021. ',
       'Assiduidade sim  5, 6 e 8/09/2022', '2006-04-20 09:44:39.87',
       '2008-05-28 23:59:59', '2009-07-28 23:59:59',
       '2011-04-28 23:59:59', '2013-11-28 23:59:59',
       'ASSIDUIDADE: 12/08/2021, 13/08/2021 E 14/08/2021.',
       'ASSIDUIDADE 05/10 , 06/10 e 07/10/2022',
       '2006-04-20 09:44:40.076', '2007-03-28 23:59:59',
       '2011-07-28 23:59:59', '2012-12-28 23:59:59',
       'Assiduidade: 04/04/2022, 05/04/2022 e 06/04/2022.',
       '2006-04-20 09:44:41.974', '2007-04-28 23:59:59',
       '2009-10-28 23:59:59', '2010-07-28 23:59:59',
       'Assiduidade: 27/04/2022, 28/04/2022 e 29/04/2022.',
       '2006-04-20 09:44:42.368', '2006-12-28 23:59:59',
       '2008-07-28 23:59:59', '2012-08-28 23:59:59',
       '2013-08-28 23:59:59', 'NÃO GOZO NO 1º PERÍODO',
       'Assiduidade: 24/03/2022, 25/03/2022 e 26/03/2022.',
       '2006-04-20 09:44:42.563', '2007-07-28 23:59:59',
       '2008-09-28 23:59:59', '2011-06-28 23:59:59',
       '2012-10-28 23:59:59', 'NAO - GOZO NO 2º PERÍODO',
       'ASSIDUIDADE 27/09/2021,02/10/2021,03/10/2021',
       'ASS 31/10, 01/11 e  06/11/2022', '2007-09-28 23:59:59',
       'ASSIDUIDADE SIM 28/10/2021,29/10/2021 e 01/11/2021.\n',
       'ASSIDUIDADE SIM   05/10, 06/10  e 07/10/2022',
       '2006-04-20 09:44:43.582', '2010-12-28 23:59:59',
       '2011-11-28 23:59:59',
       'Assiduidade: 09/05/2022, 10/05/2022 e 11/05/2022.',
       '2006-04-20 09:44:43.948',
       'ASSIDUIDADE: 01/11/2021, 03/11/2021 E 04/11/2021.',
       'ASSIDUIDADE  24/10 , 25/10  e  26/10/2022',
       '2006-04-20 09:44:44.404', '2010-06-28 23:59:59', 'sim',
       'Assiduidade: 14/11/2021, 15/11/2021 e 16/11/2021.',
       '2006-04-20 09:44:44.681', '2010-01-28 23:59:59',
       'Assiduidade: 24/01/2022, 25/01/2022 e 26/01/2022.',
       '2006-04-20 09:44:45.183', '2011-09-28 23:59:59', 'SIM\n',
       'ASSIDUIDADE SIM, DIAS 23, 24 e 25/07', '2006-04-20 09:44:45.656',
       '2011-05-28 23:59:59', 'NÃO -GOZO 1º PERÍODO',
       'ASSIDUIDADE: NÃO, GOZO NO 2º PERÍODO.',
       'Assiduidade: 04/03/2022, 09/03/2022 e 10/03/2022.',
       '2013-05-28 23:59:59', 'ASSIDUIDADE  05, 06 E 07 JUL/2022',
       '2010-09-28 23:59:59', '2011-08-28 23:59:59',
       'Assiduidade 21/10/2021, 22/10/2021 e 25/10/2021.',
       'ASSIDUIDADE SIM   06/10, 07/10  e 10/10/2022',
       '2006-04-20 09:44:46.707', '2006-12-29 14:58:47.056',
       '2013-10-28 23:59:59',
       'Assiduidade: 02/08/2021, 03/08/2021 e 04/08/2021.\n',
       'ASS 10/07, 11/07  e 12/07/2022', '2006-04-20 09:44:46.974',
       '2009-12-28 23:59:59', '2011-12-28 23:59:59',
       'ASSIDUIDADE  28, 29 E 30/08/2022', '2008-08-28 23:59:59',
       'ASSIDUIDADE 30/09/2021,01/10/2021,04/10/2021',
       'ASSIDUIDADE 17/10, 18/10  e 19/10/2022',
       '2006-04-20 09:44:48.043', 'NÃO GOZO PROX PERIODO',
       'Assiduidade 29/10/2021, 03/11/2021 e 04/11/2021.',
       'ASSIDUIDADE SIM  02/09, 03/09  e 04/09/2022',
       '2006-04-20 09:44:48.651',
       'Assiduidade: 07/01/2022, 10/01/2022 e 11/01/2022.',
       '2006-04-20 09:44:53.377',
       'ASSIDUIDADE SIM 10/08/2021,11/08/2021,12/08/2021',
       'ASSIDUIDADE SIM  19/08/2022,22/08/2022 e 23/08/2022',
       '2006-04-20 09:44:53.555', '2012-07-28 23:59:59',
       'NÃO-GOZO 2ºPERIODO',
       'Assiduidade 16/10/2021, 19/10/2021 e 20/10/2021.',
       'Assiduidade: 14/01/2022, 17/01/2022 e 18/01/2022.',
       '2006-04-20 09:45:03.85',
       'SIM -NÃO FOI ENCONTRADO FALTA DE ACORDO COM PONTO  NO PERÍODO.',
       'SEM ASSIDUIDADE', 'ASSIDUIDADE SIM  03/10,04/10 E 05/10/2022',
       '2006-04-20 09:45:04.685',
       'Assiduidade: 03/01/2022, 04/01/2022 e 05/01/2022.\n',
       '2006-04-20 09:45:08.191', '2013-12-28 23:59:59',
       'Assiduidade: 12/11/2021, 13/11/2021 e 14/11/2021.\n',
       'ASSIDUIDADE SIM  05/12, 06/12  E 07/12/2022.',
       '2006-04-20 09:45:11.373', '2012-04-28 23:59:59',
       'Assiduidade: 10/02/2022, 11/02/2022 e 14/02/2022.',
       'ASSIDUIDADE 21/09/2021,22/09/2021,23/09/2021',
       '2006-04-20 09:45:13.893', '2008-11-28 23:59:59',
       'Assiduidade: 28/02/2022, 01/03/2022 e 02/03/2022.',
       '2010-05-28 23:59:59', '2006-04-20 09:45:17.201',
       'Assiduidade: 28/04/2022, 29/04/2022 e 30/04/2022',
       '2006-04-20 09:45:17.893',
       'Assiduidade: 23/10/2021, 24/10/2021 e 25/10/2021.',
       '25/11, 26/11 e  27/11/2022', '2006-04-20 09:45:18.527',
       'ASSIDUIDADE: 28/07/2021, 29/07/2021 E 30/07/2021.\n',
       'ASSIDUIDADE 18 à 20/04/22',
       'ASSIDUIDADE 25/09/2021,26/09/2021,27/09/2021\n',
       'ASSIDUIDADE NÃO ', 'Assiduidade sim  23/09, 24/09 e 25/09/2022',
       '2006-04-20 09:45:28.235',
       'Assiduidade: 03/11/2021, 04/11/2021 e 05/11/2021.',
       '2013-09-28 23:59:59',
       'Assiduidade: 25/04/2022, 26/04/2022 e 27/04/2022.\n',
       '2006-04-20 09:45:34.098',
       'Assiduidade: 18/02/2022, 19/02/2022 e 20/02/2022.',
       'ASS 10/11, 11/11 e  12/11/2011', '2006-04-20 09:45:48.42',
       '2008-12-28 23:59:59', '2006-04-20 09:45:52.566',
       'ASSIDUIDADE: 23/08/2021, 24/08/2021 E 25/08/2021.',
       'Assiduidade 6, 7 e 8 de junho/2022', '2014-04-28 23:59:59',
       'ASSIDUIDADE SIM 27/06/2022, 28/06/2022 e 29/06/2022',
       '2006-04-20 09:45:57.245',
       'Assiduidade: 13/11/2021, 14/11/2021 e 15/11/2021.',
       '2006-04-20 09:46:11.599', 'Assiduidade sim, dias 27, 28 E 29/07',
       '2006-04-20 09:46:11.831',
       'ASSIDUIDADE 28/09/2021,29/09/2021,30/09/2021',
       'ASSIDUIDADE SIM  8, 9 E 10/08/2022', '2006-04-20 09:46:14.874',
       'ASSIDUIDADE SIM, DIAS:  31/12/2021, 04/01/2022 e 05/01/2022.',
       '2006-04-20 09:46:15.742', '2007-11-23 14:31:01.846',
       '2008-01-14 16:43:27.096',
       'ASSIDUIDADE: 14/07/2021, 15/07/2021 E 16/07/2021.',
       '2006-04-20 09:46:16.074', 'NÃO ',
       'ASSIDUIDADE  21/06, 22/06 E 23/06/2022',
       'Assiduidade 20/12, 21/12, 22/12/2022', 'SIM ',
       'NÃO GOZO 1º PERÍODO', 'asASSIDUIDADE NÃO PROXIMO PERIODO',
       'Assiduidade: 03/05/2022, 04/05/2022 e 05/05/2022.',
       '2006-04-20 09:46:17.646', '2007-08-28 23:59:59',
       '2007-10-28 23:59:59', 'NÃO-GOZO 2º PERÍODO',
       'Assiduidade: 18/04/2022, 19/04/2022 e 20/04/2022.',
       'ASS 01/11, 02/11 E 03/11/2022', '2006-04-20 09:46:17.981',
       'Assiduidade: 11/04/2022, 12/04/2022 e 13/04/2022.',
       '2006-04-20 09:46:18.234',
       'ASSIDUIDADE SIM 16/03/2022,17/03/2022,18/03/2022',
       '2006-04-20 09:46:26.661',
       'Assiduidade: 30/03/2022, 31/03/2022 e 01/04/2022.',
       '2006-04-20 09:46:27.028',
       'ASSIDUIDADE SIM: 06/04/2022, 07/04/2022 E 08/04/2022. ',
       '2006-04-20 09:46:27.313',
       'Assiduidade: 12/11/2021, 13/11/2021 e 14/11/2021.',
       'ASSIDUIDADE SIM  05/12, 06/12 E 07/12/2022',
       'ASSIDUIDADE 16 à 18/03/2022', '2006-04-20 09:46:33.858',
       '2011-03-04 11:07:36.259',
       'Assiduidade: 01/09/2021, 02/09/2021 e 03/09/2021.',
       'ASSIDUIDADE SIM  05, 06 e  08/09/2022.', '2006-04-20 09:46:34.15',
       'ASS 27/06, 28/06 E 29 JUN/2022', '2006-04-20 09:46:35.921',
       '2010-10-28 23:59:59', 'NÃO PROXIMO PERIODO',
       'ASSIDUIDADE 11, 12 E 13 DE MAIO/2022', '2012-09-28 23:59:59',
       'ASSIDUIDADE 24/09/2021,27/09/2021,28/09/2021',
       'ASSIDUIDADE 01, 02 E 06/06/2022', '2006-04-20 09:46:38.383',
       'Assiduidade: 06/01/2022, 07/01/2022 e 08/01/2022.',
       '2006-04-20 09:46:39.231', '2006-04-20 09:46:39.736',
       'NÃO -Abono pago na folha Fev/2019',
       'Assiduidade: 01/02/2022, 03/02/2022 e 04/02/2022.',
       '2006-04-20 09:46:40.612',
       'ASSIDUIDADE SIM  05/05/2022,06/05/2022 e 09/05/2022.',
       '2006-04-20 09:46:42.097', 'ASS 21, 22 E 23/06/2022',
       '2006-04-20 09:46:42.571', 'ASSIDUIDADE  28, 29 E 30/06/2022',
       '2006-04-20 09:46:46.649',
       'Assiduidade: 16/01/2022, 17/01/2022 e 22/01/2022.',
       'Assiduidade: 28/02/2022, 02/03/2022 e 03/03/2022.',
       '2006-04-20 09:46:54.814',
       'Assiduidade: 26/11/2021, 29/11/2021 e 30/11/2021.',
       'ASSIDUIDADE SIM  16/09, 19/09  e 21/09/2022.',
       'Assiduidade 23, 24 e 25 de maio/2022', '2006-04-20 09:46:56.559',
       'Assiduidade Não',
       'Assiduidade: 21/02/2022, 22/02/2022 e 23/02/2022.',
       'ASS 25, 26 E 29/08/2022', '2006-04-20 09:46:58.055',
       'ASSIDUIDADE: 24/03/2022, 25/03/2022 E 28/03/2022.',
       '2006-04-20 09:46:59.488',
       'Assiduidade 24/06, 27/06  e 28 jun/2022',
       '2006-04-20 09:46:59.716',
       'Assiduidade: 18/10/2021, 19/10/2021 e 20/10/2021.',
       'ass 04, 05 e 06/08/2022', '2006-04-20 09:46:59.95',
       'Assiduidade 25/10/2021, 26/10/2021 e 27/10/2021.',
       '2006-04-20 09:47:00.714', 'NÃO - GOZO NO 2º PERÍODO\n',
       'Assiduidade: 15/12/2021, 16/12/2021 e 17/12/2021.',
       '2006-04-20 09:47:04.361', '2006-10-10 09:56:56.074',
       'NAO - GOZO NO 1º PERÍODO', 'NÃO GOZO  PERIODO ANTERIOR',
       'Assiduidade: 01/03/2022, 02/03/2022 e 03/03/2022.',
       '2006-04-20 09:47:05.134',
       'SIM- alterado assiduidade para 06, 07 e 08/07/2020 conforme observação no aviso.',
       '2006-04-20 09:47:08.694',
       'ASSIDUIDADE 21/09/2021, 22/09/2021 E 23/09/2021.',
       'ASSIDUIDADE NÃO GOZO PERIODO ANTERIOR',
       'ASSIDUIDADE  18, 19 E 20/07/2022', '2006-04-20 09:47:12.301',
       'NÃ0', 'Absenteísmo: 01/03/2022, 02/03/2022 e 03/03/2022.',
       '2006-04-20 09:47:14.204',
       'ASSIDUIDADE SIM: DIAS 03, 04 E 05/08/2022. ',
       '2014-07-08 14:12:02.374', 'NÃO-GOZO 2º PERIODO',
       'ASSIDUIDADE SIM', 'ASSIDUIDADE: NÃO',
       'Assiduidade SIM 27/08, 28/08 e 02/09/2022',
       '2006-04-20 09:47:16.092',
       'Absenteísmo: 28/02/2022, 02/03/2022 e 03/03/2022.',
       '2006-04-20 09:47:17.526', 'NÃO GOZO PROXIMO PERIODO ',
       'ABSENTEÍSMO 26/09/2021,27/09/2021,28/09/2021.',
       'Absenteísmo: 16/02/2022, 17/02/2022, 18/02/2022.',
       '2006-04-20 09:47:19.106', 'NAO',
       'Absenteísmo: 03/04/2022, 04/04/2022 e 05/04/2022.',
       '2006-04-20 09:47:19.668', 'Assiduidade  7, 8 e 9/06/2022',
       'ABSENTEÍSMO 13/10/2021,14/10/2021,15/10/2021',
       'Assiduidade  21/07, 22/07 e 23/07/2022', 'NÃO -GOZO 2º PERIODO',
       'Absenteísmo 23/11/2021, 24/11/2021 e 25/11/2021.',
       'NÃO - GOZO 2º PERÍODO',
       'Absenteísmo: 27/12/2021, 28/12/2021 e 29/12/2021.',
       '2006-04-20 09:47:25.155',
       'ABSENTEÍSMO: 03/08/2021, 04/08/2021 E 05/08/2021.',
       'Absenteísmo: 28/02/2022, 01/03/2022 e 02/03/2022.',
       '2006-04-20 09:47:28.874',
       'ABSENTEÍSMO: 30/08/2021, 31/08/2021 E 01/09/2021.',
       'ASSIDUIDADE  31/10, 01/11 e 03/11/2022',
       'ASSIDUIDADE SIM 26/10, 27/10 e 28/10/2022',
       '2006-04-20 09:47:30.621',
       'Absenteísmo: 29/11/2021, 30/11/2021 e 01/12/2021.',
       'ASSIDUIDADE SIM 05/12 , 06/12 e 07/12/2022',
       '2006-04-20 09:47:32.305', 'Assiduidade 9, 10 e 11/04',
       'NÃO -GOZO 1 º PERÍODO',
       'ABSENTEÍSMO: 08/07/2021, 09/07/2021 e 10/07/2021.',
       'Assiduidade sim  29/08, 30/08 e 31/08/2022',
       'ASS 30/11, 01/12 e 02/12/2022',
       'Absenteísmo 19/09/2021, 20/09/2021 e 21/09/2021. ',
       'ASSIDUIDADE  07/11, 08/11 e 09/11/2022',
       'Assiduidade 26, 27 e 28 de maio/2022',
       'Absenteísmo: 10/12/2021, 13/12/2021 e 14/12/2021.',
       'ASSIDUIDADE  06/09, 08/09  e  09/09/2022.',
       'Absenteísmo: 10/02/2022, 11/02/2022 e 14/02/2022.',
       '2009-09-18 10:42:16.219',
       'Absenteísmo: 24/12/2021, 25/12/2021 e 26/12/2021.',
       'Absenteísmo: Não.', 'NÃO-GOZO 1º PERÍODO',
       'Assiduidade dias 02, 03 e 04/03/2022',
       'ABSENTEÍSMO  04/10/2021,05/10/2021,06/10/2021',
       'Assiduidade sim 14/10, 17/10  e 18/10/2022',
       '2013-10-30 15:41:55.337',
       'Absenteísmo: 09/12/2021, 10/12/2021 e 13/12/2021.',
       'ASSIDUIDADE: SIM 29/10/2021,30/10/2021,04/11/2021,',
       'ASSIDUIDADE: 03, 04 E 09/12/2022.',
       'ABSENTEÍSMO SIM 18/08/2021,19/08/2021,20/08/2021',
       'Absenteísmo: Não',
       'ASSIDUIDADE SIM  06/05/2022,07/05/2022 e 08/05/2022.',
       'PCA 26/12, 27/12, 28/12/2022',
       'ASSIDUIDADE SIM  13/10, 14/10 e 17/10/2022',
       'Absenteísmo: 08/12/2021, 09/12/2021 e 10/12/2021.',
       'Absenteísmo: 09/03/2022, 10/03/2022 e 11/03/2022.',
       'Absenteísmo: 05/12/2021, 06/12/2021 e 07/12/2021.',
       'ASSIDUIDADE SIM 01/10, 02/10 e 03/10/2022',
       'Assiduidade 01/11/2021, 03/11/2021 e 04/11/2021.',
       'não - próximo periodo',
       'ASSIDUIDADE - 23/03/2022,24/03/2022  e 25/03/2022',
       'sem assiduidade',
       'ABSENTEÍSMO: 12/08/2021, 13/08/2021 E 14/08/2021.',
       'Absenteísmo: 12/01/2022, 13/01/2022 e 14/01/2022.',
       'Absenteísmo: 29/12/2021, 30/12/2021 e 31/12/2021.',
       'ASSIDUIDADE  12/12, 13/12 E 14/12/2022',
       'Assiduidade: 09/03/2022, 10/03/2022 e 11/03/2022.',
       'ASSIDUIDADE  28/11, 29/11 E 30/11/2022.',
       'Ass 9, 10 e 13/06/2022',
       'Assiduidade SIM 25/05, 26/05 e 27/05/2022', 'Assiduidade NÂO',
       'ASSIDUIDADE SIM  11/09,12/09 e 13/09/2022', 'ASSIDUIDADE SIM ',
       'ASSIDUIDADE SIM 16/08/2021,17/08/2021 e 22/08/2021,',
       'Assiduidade NÃO', 'Assiduidade SIM 01/08, 02/08 e 03/08/2022',
       'ASSIDUIDADE NAO', 'NÃO GOZO 1 º PERIODO',
       'Assiduidade SIM  08/05, 09/05 e 10/05/2022',
       'NÃO - GOZO NO 2º PERÍODO\nFÉRIAS LANÇADAS NA FOLHA DE MARÇO/2018',
       'Assiduidade SIM',
       'ABSENTEÍSMO SIM 30/10/2021,31/10/2021,e 01/11/2021',
       'ASSIDUIDADE: 05/12, 06/12 E 07/12/2022',
       'Assiduidade SIM 02/05/2022,03/05/2022 e 04/05/2022',
       'ASSIDUIDADE NÃO PROXIMO PERIODO',
       'Assiduidade SIM 03/08, 04/08 e 05/08/2022',
       'ASSIDUIDADE: SIM 23/10/2021,24/10/2021,25/10/2021',
       'ASSIDUIDADE SIM 28/03/2022,29/03/2022 e 30/03/2022',
       'ASSIDUIDADE: 17/10, 18/10 E 19/10/2022',
       'Assiduidade SIM 14/06, 15/06 e 17/06/2022',
       'ASSIDUIDADE: SIM 20/10/2021,21/10/2021,22/10/2021',
       'ASSIDUIDADE: 20/10, 21/10 e 24/10/2022.',
       'Assiduidade SIM 15/08, 16/08 e 17/08/2022',
       'ASSIDUIDADE SIM: DIAS 02/05, 03/05 e 04/05/2022.',
       'ASSIDUIDADE SIM  02/05/2022,03/05/2022 e 04/05/2022',
       'NÃO GOZO PROXIMO  PERIODO ',
       'ASSIDUIDADE SIM  12/12, 13/12 E 14/12/2022',
       'Assiduidade SIM 06/06, 07/06 e 22/06/2022',
       'NÃO GOZO PROXIMO PERÍODO'], dtype=object)

In [161]:
# Mudaremos  o case inicialmente 
df['OBSERVAÇÃO'] = df['OBSERVAÇÃO'].str.upper()

In [162]:
# Por fim uma expressão regular para substituir as datas que começam com 20 por -
import re

In [163]:
regex = r'^20.+'
df['OBSERVAÇÃO'] = df['OBSERVAÇÃO'].str.replace(regex, '-')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [ ]:
df

In [167]:
df.to_excel('/content/drive/MyDrive/FERIAS/historico_ferias.xlsx', index=False)