<a href="https://colab.research.google.com/github/solanods/pandas/blob/master/ultima_missao_semanais_mes31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from re import search
import pandas as pd
pd.set_option('display.max_rows', 5000)
pd.set_option('display.max_columns', 5000)

In [ ]:
# Cria os dataframes iniciais
df = pd.read_excel('PRMS_08_AGO_2022.xlsm', sheet_name='QUA')
df2 = pd.read_excel('PRMS_07_JUL_2022.xlsm', sheet_name='RMOP')

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [ ]:
# Criar dataframe com dados das missoes semanais
semanais = pd.concat([df['Unnamed: 1'][151:], df['Unnamed: 3'][151:], df['Unnamed: 8'][151:], df['Unnamed: 10'][151:]], axis=1, ignore_index=False)

In [ ]:
# Obter lista com nome de todos operadores
operadores = []
for linha in df2.index:
  if search ('[A-Z]+', str(df2['Unnamed: 3'][linha])):
    operadores.append(df2['Unnamed: 3'][linha])

operadores = [operador for operador in operadores if operador.isupper()]

In [ ]:
# Obter lista com operadores que estão na escala semanal
operadores_semanal = []
for linha in semanais.index:
  if search ('[A-Z]+', str(semanais['Unnamed: 3'][linha])):
    operadores_semanal.append(semanais['Unnamed: 3'][linha])
  if search ('[A-Z]+', str(semanais['Unnamed: 10'][linha])):
    operadores_semanal.append(semanais['Unnamed: 10'][linha])

operadores_semanal = sorted(operadores_semanal)

In [ ]:
# Criar dataframe com as colunas de dados alvo
nome_missao = pd.concat([df2['Unnamed: 3'], df2['Unnamed: 8']], axis=1, ignore_index=False)

In [ ]:
# Obter as listas de ultimas missoes (da 22ª a última) varrendo a coluna com um range
# O valor no range deve ser igual ao número de operadores
i = 8
j =39
missoes = []
for x in range(184):
  missoes.append(nome_missao['Unnamed: 8'].iloc[i:j].to_list()[22:])
  i += 66
  j += 66

In [ ]:
# Zip the columns
resultado = pd.DataFrame(list(zip(operadores, missoes)), columns = ['Operador', 'Últimas misssões no mês anterior'])

In [ ]:
# Criar uma mascara para filtrar os operadores da semanal
filtro = resultado['Operador'].isin(operadores_semanal)
resultado_final = resultado[filtro]

In [ ]:
resultado_final, semanais.loc[151:175]

(         Operador               Últimas misssões no mês anterior
 13         ANDREI  [FOL, FOL, 03T, 24T, 25T, 26T, 27T, FOL, FOL]
 24         BOLZAN  [FOL, FOL, 22M, 25M, 21M, 21M, 22M, FOL, FOL]
 32         CIBELE  [FER, FER, FER, FER, FER, FER, FER, FOL, FOL]
 41       DA COSTA  [FOL, 02M, 20M, 06M, FOL, FOL, FOL, FOL, FOL]
 52      ELISABETE  [FER, FER, FER, FER, FER, FER, FER, FER, FER]
 53           ELOY  [FOL, FOL, 27T, 08T, 29T, 30T, 22T, FOL, FOL]
 60        FONSECA  [FOL, FOL, 24T, 25T, 26T, 27T, EMP, FOL, FOL]
 66         FULBER  [FOL, FOL, 22T, 23T, 24T, 25T, 26T, FOL, FOL]
 79   INES MIRANDA  [FER, FER, FER, FER, 23M, 28M, 25M, FOL, FOL]
 80         ISABEL  [FOL, FOL, 15M, 23M, 05M, 25M, 23M, FOL, FOL]
 94         KARINA  [FOL, FOL, FOL, 29T, 07T, 12T, 09T, 10T, 15N]
 124       MIRANDA  [FER, FER, FER, FER, FER, FER, FER, FER, FER]
 133          PAIM  [FOL, 10M, 06M, 07M, 08M, 23M, FOL, 07M, FOL]
 139        RAFAEL  [12M, 01M, 19M, FOL, 07M, FOL, FOL, 04M, FOL]
 157         SILVA  [15T, FOL, 30T, 22T, 23T, 24T, 15T, FOL, FOL]
 163       TAVARES  [FOL, FOL, FOL, 05M, 01M, 02M, 03M, 07N, 02N]
 165       TEOFILO  [FER, FER, FER, FER, FER, FER, FER, FER, FER]
 173     VALLERIUS  [FER, FER, FER, FER, ASS, ASS, ASS, FOL, FOL]
 174     VANDERLEI  [21T, FOL, 26T, 27T, 28T, 10T, 06T, FOL, FOL]
 177       VERGARA  [FOL, FOL, 16M, 16M, 25M, 26M, 26M, FOL, FOL],
     Unnamed: 1    Unnamed: 3 Unnamed: 8 Unnamed: 10
 151        X01        BOLZAN        Y01   VANDERLEI
 152        X01             _        Y01           _
 153        X02       VERGARA        Y02        ELOY
 154        X02             _        Y02           _
 155        X03        ISABEL        Y03       SILVA
 156        X03             _        Y03           _
 157        X04  INES MIRANDA        Y04      FULBER
 158        X04             _        Y04           _
 159        X05       TEOFILO        Y05      ANDREI
 160        X05             _        Y05           _
 161        X06        CIBELE        Y06     FONSECA
 162        X06             _        Y06           _
 163        X07          PAIM        Y07   VALLERIUS
 164        X07             _        Y07           _
 165        X08        RAFAEL        Y08   ELISABETE
 166        X08             _        Y08           _
 167        X09      DA COSTA        Y09     MIRANDA
 168        X09             _        Y09           _
 169        X10       TAVARES        Y10      KARINA
 170        X10             _        Y10           _
 171        X11             _        Y11           _
 172        X11             _        Y11           _
 173        X12             _        Y12           _
 174        X12             _        Y12           _
 175        X13             _        Y13           _)