In [22]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import xlrd
import pandas as pd


print('Iniciando nosso robô...\n')


df = pd.read_csv('/home/sol/PycharmProjects/env1/venv/bin/Robos/nomes.csv')

Iniciando nosso robô...

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Nomes    15 non-null     object
 1   Valores  15 non-null     int64
dtypes: int64(1), object(1)
memory usage: 368.0+ bytes

In [24]:
df

                        Nomes  Valores
0           Alexandre Maineri       23
1           Andre Luiz Barros     5665
2                Carlos Borba    54564
3               Ciriani Souza    56565
4              Ciro Falavigna     6589
5   Flavio De Oliveira Pirett       96
6      Janilson Santos Junior      986
7                  João Pedro       86
8                 Lean Mendes     4566
9          Marcos Schlickmann     5656
10   Matheus Queiroz Siqueira      565
11        Mauricio Dall Onder      565
12  Milena Feier Viegas Cesar      598
13         Moises Costa Beber      863
14         Rosimeire De Souza      888

In [26]:
df['Nomes']

0             Alexandre Maineri
1             Andre Luiz Barros
2                  Carlos Borba
3                 Ciriani Souza
4                Ciro Falavigna
5     Flavio De Oliveira Pirett
6        Janilson Santos Junior
7                    João Pedro
8                   Lean Mendes
9            Marcos Schlickmann
10     Matheus Queiroz Siqueira
11          Mauricio Dall Onder
12    Milena Feier Viegas Cesar
13           Moises Costa Beber
14           Rosimeire De Souza
Name: Nomes, dtype: object

In [30]:
listanomes = df['Nomes'].tolist()

In [31]:
listanomes

['Alexandre Maineri',
 'Andre Luiz Barros',
 'Carlos Borba',
 'Ciriani Souza',
 'Ciro Falavigna',
 'Flavio De Oliveira Pirett',
 'Janilson Santos Junior',
 'João Pedro',
 'Lean Mendes',
 'Marcos Schlickmann',
 'Matheus Queiroz Siqueira',
 'Mauricio Dall Onder',
 'Milena Feier Viegas Cesar',
 'Moises Costa Beber',
 'Rosimeire De Souza']

In [32]:
listavalores = df['Valores'].tolist()

In [33]:
listavalores

[23,
 5665,
 54564,
 56565,
 6589,
 96,
 986,
 86,
 4566,
 5656,
 565,
 565,
 598,
 863,
 888]

In [34]:
import numpy as np

In [35]:
np.mean(listavalores)

9218.333333333334

In [36]:
np.sum(listavalores)

138275

In [37]:
np.median(listavalores)

888.0

In [40]:
sorted(listavalores)

[23,
 86,
 96,
 565,
 565,
 598,
 863,
 888,
 986,
 4566,
 5656,
 5665,
 6589,
 54564,
 56565]

In [39]:
listavalores.sort()