In [1]:
import pandas as pd

In [2]:
df = pd.read_json("/home/sol/ScrapyProjects/tutorial/tutorial/spiders/quotes.json") #atenção às / /

In [3]:
df

,text,author,tags
0,“The world as we have created it is a process ...,Albert Einstein,"[change, deep-thoughts, thinking, world]"
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,"[abilities, choices]"
2,“There are only two ways to live your life. On...,Albert Einstein,"[inspirational, life, live, miracle, miracles]"
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,"[aliteracy, books, classic, humor]"
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,"[be-yourself, inspirational]"
5,“Try not to become a man of success. Rather be...,Albert Einstein,"[adulthood, success, value]"
6,“It is better to be hated for what you are tha...,André Gide,"[life, love]"
7,"“I have not failed. I've just found 10,000 way...",Thomas A. Edison,"[edison, failure, inspirational, paraphrased]"
8,“A woman is like a tea bag; you never know how...,Eleanor Roosevelt,[misattributed-eleanor-roosevelt]
9,"“A day without sunshine is like, you know, nig...",Steve Martin,"[humor, obvious, simile]"
10,“This life is what you make it. No matter what...,Marilyn Monroe,"[friends, heartbreak, inspirational, life, lov..."
11,“It takes a great deal of bravery to stand up ...,J.K. Rowling,"[courage, friends]"
12,"“If you can't explain it to a six year old, yo...",Albert Einstein,"[simplicity, understand]"
13,"“You may not be her first, her last, or her on...",Bob Marley,[love]
14,"“I like nonsense, it wakes up the brain cells....",Dr. Seuss,[fantasy]
15,"“I may not have gone where I intended to go, b...",Douglas Adams,"[life, navigation]"
16,"“The opposite of love is not hate, it's indiff...",Elie Wiesel,"[activism, apathy, hate, indifference, inspira..."
17,"“It is not a lack of love, but a lack of frien...",Friedrich Nietzsche,"[friendship, lack-of-friendship, lack-of-love,..."
18,"“Good friends, good books, and a sleepy consci...",Mark Twain,"[books, contentment, friends, friendship, life]"
19,“Life is what happens to us while we are makin...,Allen Saunders,"[fate, life, misattributed-john-lennon, planni..."

In [4]:
df.head(12)

,text,author,tags
0,“The world as we have created it is a process ...,Albert Einstein,"[change, deep-thoughts, thinking, world]"
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,"[abilities, choices]"
2,“There are only two ways to live your life. On...,Albert Einstein,"[inspirational, life, live, miracle, miracles]"
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,"[aliteracy, books, classic, humor]"
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,"[be-yourself, inspirational]"
5,“Try not to become a man of success. Rather be...,Albert Einstein,"[adulthood, success, value]"
6,“It is better to be hated for what you are tha...,André Gide,"[life, love]"
7,"“I have not failed. I've just found 10,000 way...",Thomas A. Edison,"[edison, failure, inspirational, paraphrased]"
8,“A woman is like a tea bag; you never know how...,Eleanor Roosevelt,[misattributed-eleanor-roosevelt]
9,"“A day without sunshine is like, you know, nig...",Steve Martin,"[humor, obvious, simile]"
10,“This life is what you make it. No matter what...,Marilyn Monroe,"[friends, heartbreak, inspirational, life, lov..."
11,“It takes a great deal of bravery to stand up ...,J.K. Rowling,"[courage, friends]"

In [5]:
df.index

RangeIndex(start=0, stop=20, step=1)

In [6]:
df.columns #todas colunas

Index(['text', 'author', 'tags'], dtype='object')

In [7]:
df.values #transforma o DataFrame em array bidimensional

array([['“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”',
        'Albert Einstein',
        list(['change', 'deep-thoughts', 'thinking', 'world'])],
       ['“It is our choices, Harry, that show what we truly are, far more than our abilities.”',
        'J.K. Rowling', list(['abilities', 'choices'])],
       ['“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”',
        'Albert Einstein',
        list(['inspirational', 'life', 'live', 'miracle', 'miracles'])],
       ['“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”',
        'Jane Austen', list(['aliteracy', 'books', 'classic', 'humor'])],
       ["“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”",
        'Marilyn Monroe', list(['be-yourself', 'inspirational'])],
       ['“Try not to become a man of success. Rather become a man of value.”',
        'Albert Einstein', list(['adulthood', 'success', 'value'])],
       ['“It is better to be hated for what you are than to be loved for what you are not.”',
        'André Gide', list(['life', 'love'])],
       ["“I have not failed. I've just found 10,000 ways that won't work.”",
        'Thomas A. Edison',
        list(['edison', 'failure', 'inspirational', 'paraphrased'])],
       ["“A woman is like a tea bag; you never know how strong it is until it's in hot water.”",
        'Eleanor Roosevelt', list(['misattributed-eleanor-roosevelt'])],
       ['“A day without sunshine is like, you know, night.”',
        'Steve Martin', list(['humor', 'obvious', 'simile'])],
       ["“This life is what you make it. No matter what, you're going to mess up sometimes, it's a universal truth. But the good part is you get to decide how you're going to mess it up. Girls will be your friends - they'll act like it anyway. But just remember, some come, some go. The ones that stay with you through everything - they're your true best friends. Don't let go of them. Also remember, sisters make the best friends in the world. As for lovers, well, they'll come and go too. And baby, I hate to say it, most of them - actually pretty much all of them are going to break your heart, but you can't give up because if you give up, you'll never find your soulmate. You'll never find that half who makes you whole and that goes for everything. Just because you fail once, doesn't mean you're gonna fail at everything. Keep trying, hold on, and always, always, always believe in yourself, because if you don't, then who will, sweetie? So keep your head high, keep your chin up, and most importantly, keep smiling, because life's a beautiful thing and there's so much to smile about.”",
        'Marilyn Monroe',
        list(['friends', 'heartbreak', 'inspirational', 'life', 'love', 'sisters'])],
       ['“It takes a great deal of bravery to stand up to our enemies, but just as much to stand up to our friends.”',
        'J.K. Rowling', list(['courage', 'friends'])],
       ["“If you can't explain it to a six year old, you don't understand it yourself.”",
        'Albert Einstein', list(['simplicity', 'understand'])],
       ["“You may not be her first, her last, or her only. She loved before she may love again. But if she loves you now, what else matters? She's not perfect—you aren't either, and the two of you may never be perfect together but if she can make you laugh, cause you to think twice, and admit to being human and making mistakes, hold onto her and give her the most you can. She may not be thinking about you every second of the day, but she will give you a part of her that she knows you can break—her heart. So don't hurt her, don't change her, don't analyze and don't expect more than she can give. Smile when she makes you happy, let her know when she makes you mad, and miss her when she's not there.”",
        'Bob Marley', list(['love'])],
       ['“I like nonsense, it wakes up the brain cells. Fantasy is a necessary ingredient in living.”',
        'Dr. Seuss', list(['fantasy'])],
       ['“I may not have gone where I intended to go, but I think I have ended up where I needed to be.”',
        'Douglas Adams', list(['life', 'navigation'])],
       ["“The opposite of love is not hate, it's indifference. The opposite of art is not ugliness, it's indifference. The opposite of faith is not heresy, it's indifference. And the opposite of life is not death, it's indifference.”",
        'Elie Wiesel',
        list(['activism', 'apathy', 'hate', 'indifference', 'inspirational', 'love', 'opposite', 'philosophy'])],
       ['“It is not a lack of love, but a lack of friendship that makes unhappy marriages.”',
        'Friedrich Nietzsche',
        list(['friendship', 'lack-of-friendship', 'lack-of-love', 'love', 'marriage', 'unhappy-marriage'])],
       ['“Good friends, good books, and a sleepy conscience: this is the ideal life.”',
        'Mark Twain',
        list(['books', 'contentment', 'friends', 'friendship', 'life'])],
       ['“Life is what happens to us while we are making other plans.”',
        'Allen Saunders',
        list(['fate', 'life', 'misattributed-john-lennon', 'planning', 'plans'])]],
      dtype=object)

In [8]:
df.loc[0]

text      “The world as we have created it is a process ...
author                                      Albert Einstein
tags               [change, deep-thoughts, thinking, world]
Name: 0, dtype: object

In [9]:
df.loc[[1,2]] #mostra os índices definidos

,text,author,tags
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,"[abilities, choices]"
2,“There are only two ways to live your life. On...,Albert Einstein,"[inspirational, life, live, miracle, miracles]"

In [10]:
df.loc[[1,2], ['author']] #índice e coluna

            author
1     J.K. Rowling
2  Albert Einstein

In [11]:
df.loc[4:7]

,text,author,tags
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,"[be-yourself, inspirational]"
5,“Try not to become a man of success. Rather be...,Albert Einstein,"[adulthood, success, value]"
6,“It is better to be hated for what you are tha...,André Gide,"[life, love]"
7,"“I have not failed. I've just found 10,000 way...",Thomas A. Edison,"[edison, failure, inspirational, paraphrased]"

In [12]:
df.loc[10:30:2] #do 10 ao 30 de 2 em 2

,text,author,tags
10,“This life is what you make it. No matter what...,Marilyn Monroe,"[friends, heartbreak, inspirational, life, lov..."
12,"“If you can't explain it to a six year old, yo...",Albert Einstein,"[simplicity, understand]"
14,"“I like nonsense, it wakes up the brain cells....",Dr. Seuss,[fantasy]
16,"“The opposite of love is not hate, it's indiff...",Elie Wiesel,"[activism, apathy, hate, indifference, inspira..."
18,"“Good friends, good books, and a sleepy consci...",Mark Twain,"[books, contentment, friends, friendship, life]"

In [13]:
df.loc[10:] #do 10 em diante, diferentemente de Python puro

,text,author,tags
10,“This life is what you make it. No matter what...,Marilyn Monroe,"[friends, heartbreak, inspirational, life, lov..."
11,“It takes a great deal of bravery to stand up ...,J.K. Rowling,"[courage, friends]"
12,"“If you can't explain it to a six year old, yo...",Albert Einstein,"[simplicity, understand]"
13,"“You may not be her first, her last, or her on...",Bob Marley,[love]
14,"“I like nonsense, it wakes up the brain cells....",Dr. Seuss,[fantasy]
15,"“I may not have gone where I intended to go, b...",Douglas Adams,"[life, navigation]"
16,"“The opposite of love is not hate, it's indiff...",Elie Wiesel,"[activism, apathy, hate, indifference, inspira..."
17,"“It is not a lack of love, but a lack of frien...",Friedrich Nietzsche,"[friendship, lack-of-friendship, lack-of-love,..."
18,"“Good friends, good books, and a sleepy consci...",Mark Twain,"[books, contentment, friends, friendship, life]"
19,“Life is what happens to us while we are makin...,Allen Saunders,"[fate, life, misattributed-john-lennon, planni..."

In [14]:
df.head(890)

,text,author,tags
0,“The world as we have created it is a process ...,Albert Einstein,"[change, deep-thoughts, thinking, world]"
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,"[abilities, choices]"
2,“There are only two ways to live your life. On...,Albert Einstein,"[inspirational, life, live, miracle, miracles]"
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,"[aliteracy, books, classic, humor]"
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,"[be-yourself, inspirational]"
5,“Try not to become a man of success. Rather be...,Albert Einstein,"[adulthood, success, value]"
6,“It is better to be hated for what you are tha...,André Gide,"[life, love]"
7,"“I have not failed. I've just found 10,000 way...",Thomas A. Edison,"[edison, failure, inspirational, paraphrased]"
8,“A woman is like a tea bag; you never know how...,Eleanor Roosevelt,[misattributed-eleanor-roosevelt]
9,"“A day without sunshine is like, you know, nig...",Steve Martin,"[humor, obvious, simile]"
10,“This life is what you make it. No matter what...,Marilyn Monroe,"[friends, heartbreak, inspirational, life, lov..."
11,“It takes a great deal of bravery to stand up ...,J.K. Rowling,"[courage, friends]"
12,"“If you can't explain it to a six year old, yo...",Albert Einstein,"[simplicity, understand]"
13,"“You may not be her first, her last, or her on...",Bob Marley,[love]
14,"“I like nonsense, it wakes up the brain cells....",Dr. Seuss,[fantasy]
15,"“I may not have gone where I intended to go, b...",Douglas Adams,"[life, navigation]"
16,"“The opposite of love is not hate, it's indiff...",Elie Wiesel,"[activism, apathy, hate, indifference, inspira..."
17,"“It is not a lack of love, but a lack of frien...",Friedrich Nietzsche,"[friendship, lack-of-friendship, lack-of-love,..."
18,"“Good friends, good books, and a sleepy consci...",Mark Twain,"[books, contentment, friends, friendship, life]"
19,“Life is what happens to us while we are makin...,Allen Saunders,"[fate, life, misattributed-john-lennon, planni..."

In [16]:
df.select_dtypes(include = ['object']) #mostra o que é objeto

,text,author,tags
0,“The world as we have created it is a process ...,Albert Einstein,"[change, deep-thoughts, thinking, world]"
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,"[abilities, choices]"
2,“There are only two ways to live your life. On...,Albert Einstein,"[inspirational, life, live, miracle, miracles]"
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,"[aliteracy, books, classic, humor]"
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,"[be-yourself, inspirational]"
5,“Try not to become a man of success. Rather be...,Albert Einstein,"[adulthood, success, value]"
6,“It is better to be hated for what you are tha...,André Gide,"[life, love]"
7,"“I have not failed. I've just found 10,000 way...",Thomas A. Edison,"[edison, failure, inspirational, paraphrased]"
8,“A woman is like a tea bag; you never know how...,Eleanor Roosevelt,[misattributed-eleanor-roosevelt]
9,"“A day without sunshine is like, you know, nig...",Steve Martin,"[humor, obvious, simile]"
10,“This life is what you make it. No matter what...,Marilyn Monroe,"[friends, heartbreak, inspirational, life, lov..."
11,“It takes a great deal of bravery to stand up ...,J.K. Rowling,"[courage, friends]"
12,"“If you can't explain it to a six year old, yo...",Albert Einstein,"[simplicity, understand]"
13,"“You may not be her first, her last, or her on...",Bob Marley,[love]
14,"“I like nonsense, it wakes up the brain cells....",Dr. Seuss,[fantasy]
15,"“I may not have gone where I intended to go, b...",Douglas Adams,"[life, navigation]"
16,"“The opposite of love is not hate, it's indiff...",Elie Wiesel,"[activism, apathy, hate, indifference, inspira..."
17,"“It is not a lack of love, but a lack of frien...",Friedrich Nietzsche,"[friendship, lack-of-friendship, lack-of-love,..."
18,"“Good friends, good books, and a sleepy consci...",Mark Twain,"[books, contentment, friends, friendship, life]"
19,“Life is what happens to us while we are makin...,Allen Saunders,"[fate, life, misattributed-john-lennon, planni..."

In [17]:
df.select_dtypes(include = ['float']) #mostra o que é valor float

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [18]:
df.select_dtypes(include = ['number']) #mostra o que é número

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [19]:
df.select_dtypes(include = ['int'])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]