In [1]:
import pandas as pd
import datetime
pd.set_option('display.max_rows', 3000)

In [2]:
df = pd.read_csv('/home/sol/Downloads/logs_setra.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Columns: 418 entries, Unnamed: 0 to Unnamed: 417
dtypes: float64(2), object(416)
memory usage: 88.3+ KB

In [4]:
#renomear uma coluna
df = df.rename({'Unnamed: 0': 'Nome completo'}, axis = 1)

In [5]:
#remover as colunas com base na string
df.drop([col for col in df.columns if "Unnamed" in col], axis=1, inplace=True)

In [6]:
# Ordena pelo campo nome e salva em um novo DataFrame
df = df.sort_values(by='Nome completo')

In [7]:
#normalizando as strings da coluna nome
df['Nome completo'] = df['Nome completo'].str.title()

In [8]:
#numero de atividades do cursos
len(df.columns) - 2

209

In [9]:
#transpor o df inteiro
df = df.T

In [10]:
#passar a primeira linha para nome de colunas
df.columns = df.iloc[0]

In [11]:
#remover a primeira linha
df = df.iloc[1:]

In [12]:
#função lambda para contagem de porcentagem de atividades concluídas
f = lambda y: y.str.contains('Concluído').sum()/len(df)*100

In [13]:
porcentagem_conclusao_aluno = df.apply(f)

In [14]:
porcentagem_conclusao_aluno = porcentagem_conclusao_aluno.to_frame().round(decimals=2)

In [15]:
porcentagem_conclusao_aluno

                                           0
Nome completo
Andrei Luft Diniz                      98.10
Adão Derli Cavalheiro Barcellos Filho  90.95
Carlos Roberto Neto Coitinho           97.62
Cibele Rocha Gonçalves                 77.62
Cristiano Da Silva Cruz                98.10
Diego De Oliveira Otto                 98.10
Edna Martins Dahm                      97.62
Fellipe Chaves Soares                  98.10
Flávia Pereira Strattmann              98.10
Franco Klein                           98.10
Guilherme Nunes Pereira                98.10
Juliano Araújo Dos Santos              85.71
Juliano Prandini Silveira              85.24
Kely De Araújo                         97.14
Leocy Cananea Pereira                  91.43
Letícia De Jaques Vargas               87.62
Matheus Eduardo Albarello Zanatta      98.10
Mirian Da Silva Elesbao                97.62
Marcos Jefremovas Neto                 98.10
Mauro Felipe Furlan                    91.43
Maí De Oliveira Tubino                 97.14
Robson Marcos Galli                    98.10
Rodrigo Vieira Dos Santos              97.14
Simone Rodrigues                       85.71
Tatiane Alves Vieira                   98.10
Vinícius Dias De Lima                  85.24
Vinícius Ramos De Souza                90.95

In [16]:
porcentagem_conclusao_aluno.to_excel('/home/sol/Downloads/porcentagem_conclusao_setra.xlsx')